name: Linting & Style Checks
on:
  workflow_call:

permissions:
  contents: read

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3

      - name: Set up Python 3.10
        uses: actions/setup-python@e797f83bcb11b83ae66e0230d6156d7c80228e7c
        with:
          python-version: '3.10'
          cache: 'pip'
          cache-dependency-path: '.github/workflows/requirements/style.txt'

      - name: Install Python dependencies
        run: |
          pip install -r .github/workflows/requirements/style.txt

      - name: Run Ruff
        run: |
          ruff check --diff
          ruff check --select I --diff
          ruff format --check --diff

      - name: Run Typos
        run: typos
