name: Linting & Style Checks
on:
  workflow_call:

permissions:
  contents: read

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8

      - name: Set up Python 3.10
        uses: actions/setup-python@83679a892e2d95755f2dac6acb0bfd1e9ac5d548
        with:
          python-version: '3.10'
          cache: 'pip'
          cache-dependency-path: '.github/workflows/requirements/style.txt'

      - name: Install Python dependencies
        run: |
          pip install -r .github/workflows/requirements/style.txt

      - name: Run Ruff
        run: |
          ruff check --diff
          ruff check --select I --diff
          ruff format --check --diff

      - name: Run Typos
        run: typos
