name: Unit Tests
on:
  workflow_call:

permissions:
  contents: read

jobs:
  ubuntu:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ['3.10', '3.13']
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8
      - uses: actions/setup-python@83679a892e2d95755f2dac6acb0bfd1e9ac5d548
        with:
          python-version: ${{ matrix.python-version }}
          cache: 'pip'
          cache-dependency-path: |
            'pyproject.toml'
            '.github/workflows/requirements/unit-tests.txt'

      - name: Install Python dependencies
        run: |
          pip install .
          pip install -r .github/workflows/requirements/unit-tests.txt

      - name: Run Unit Tests with Pytest
        run: |
          python3 -m build  # build package for compatibility with publish.yml
          python3 -m pytest
